<%- include("partials/header"); %>


<div class="ui main text container segment">
	<div class="ui huge header">
		<%= theBlog.title %>
	</div>
	<div class="ui top attached">
		<div cass="item">
			<img class="ui centered rounded image" src="<%= theBlog.image %>">
			<div class="content">
				<span>
	                <%= theBlog.date.toDateString() %>
		        </span>
			</div>
			<div class="description">
				 <p>
	                 <%- theBlog.body %>
                 </p>
			</div>
			<a class="orange ui basic button" href="/blogs/<%= theBlog._id %>/edit">Edit</a>
			<form id="delete" action="/blogs/<%= theBlog._id %>?_method=DELETE" method="POST">
				<button class="ui red basic button">
					Delete
				</button>
			</form>
		</div>
		
        
       
	</div>
	
</div>
	




<%- include("partials/footer"); %>